<h1>Task Manager</h1>
<p>This is an application for managing a to do list</p>

<div>
  <%= link_to "Tasks", tasks_path %>
</div>



<div>
  <%= link_to("About page", { action: :about, page: 5, id: 26}) %>
</div>
